@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

/* Color Variables */

:root {
  --primary-yellow: rgba(250, 166, 26, 1);
  --neutral-yellow-light: rgba(254, 242, 221, 1);
  --secondary-black: rgba(114, 114, 114, 1);
  --primary-black: rgba(18, 28, 42, 1);
  --neutral-deep-black: rgba(34, 34, 34, 1);
  --neutral-light-grey: rgba(207, 196, 197, 1);
  --neutral-red: rgba(169, 56, 0, 1);
  --neutral-10: rgba(68, 69, 69, 1);
  --neutral-20: rgba(76, 69, 70, 1);
  --neutral-30: rgba(224, 221, 207, 1);
  --neutral-40: rgba(84, 95, 115, 1);
  --neutral-off-white: rgba(248, 249, 255, 1);

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --font-jetbrains: var(--font-jetbrains-mono);

  --color-primary-yellow: var(--primary-yellow);
  --color-secondary-black: var(--secondary-black);
  --color-primary-black: var(--primary-black);
  --color-neutral-deep-black: var(--neutral-deep-black);
  --color-neutral-light-grey: var(--neutral-light-grey);
  --color-neutral-red: var(--neutral-red);
  --color-neutral-10: var(--neutral-10);
  --color-neutral-20: var(--neutral-20);
  --color-neutral-off-white: var(--neutral-off-white);
  --color-neutral-30: var(--neutral-30);
  --color-neutral-40: var(--neutral-40);
  --color-neutral-yellow-light: var(--neutral-yellow-light);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

html {
  scroll-behavior: smooth;
}

body {
  border-radius: 0;
  font-family: var(--font-sans);
  color: var(--neutral-10);
}

.maxContainer {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 16px;
}

.tag {
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: rgba(169, 56, 0, 1);
  font-family: var(--font-mono);
  text-transform: uppercase;
}

.title56 {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: -0.96px;
}

.title36 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 57.6px;
  letter-spacing: -0.96px;
}

.title26 {
  font-size: 1.625rem;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.96px;
}

.title24 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
}

.title20 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 100%;
}

.body18 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 28.8px;
}

.body16 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}

.body14 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 20px;
}

.body12 {
  font-size: 0.75rem;
  font-weight: 400;
}

@media (max-width: 767px) {
  .title56 {
    font-size: 1.5rem;
    line-height: 100%;
  }

  .title36 {
    font-size: 1.5rem;
  }
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
